#tbl {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  box-sizing: border-box;
}

#tbl td, #tbl th {
  border: 1px solid #ddd;
  padding: 8px;
}


#tbl tr:hover {background-color: #ddd;}

#tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0F2551;
  color: white;
}

#sports_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  box-sizing: border-box;
}

#sports_table td, #sports_table th {
  border: 1px solid #ddd;
  padding: 8px;
}


#sports_table tr:hover {background-color: #ddd;}

#sports_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0F2551;
  color: white;
}

#button {
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} 

#teacher1 {
	display: none;
}

#sport2 {
	display: none;
}

#teachers_font {
  font-size: 35px;
  padding-top: 10px;
  padding-left: 10px;
}